@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 10px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container{
	max-width: 1200px;
	height: 100%;
    padding-right: 5px;
    padding-left: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	overflow: visible;

}

input{
	width: 150px;
	margin-bottom: 5px;

}
.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;

}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr;
	padding: 0px 0px 0px;
}
.div.col-2{
	padding: 0px 0px;
	height: 570px;
	max-width: 783.328px;
}
.chat-sidebar {
	background: var(--dark-color-b);
	color: black;
	height: 570px;
	text-align: left;
	padding: 5px;
}

.chat-sidebar h5 {
	font-size: 20px;
	padding: 1px;
	margin-bottom: 1px;
}

.chat-sidebar h4 {
	margin-bottom: 1px;
}

.chat-sidebar ul li {
	margin-left: 20px;
	padding: 2px 1;
	list-style: disc;
	
}

.chat-messages {
	padding: 2px;
	max-height: 500px;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 0px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
	text-align: left;
	margin: 3px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 10px 5px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flexbox;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.grid-container {
	justify-content: center;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px 150px;
	grid-template-rows: 150px 200px 150px;
	gap: 5px 5px;
	grid-template-areas:
	  "user1 game game game user3"
	  ". game game game ."
	  "user4 game game game user2";
  }
  
  .user1 { 
	  background-color: #667aff;
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  gap: 0px 0px;
	  grid-template-areas:
		"name name name"
		". avatar ."
		"points points points";
	grid-area: user1;
	}

  .user4 { grid-area: user4; background-color: #667aff;}
  .game { 
	grid-area: game;
	background-color: #5cb85c; 
}
  .user3 { grid-area: user3; background-color: #667aff;}
  .user2 { grid-area: user2; background-color: #667aff;}

  footer {
	text-align: center;
	padding: 3px;
	background-color: DarkSalmon;
	color: white;
  }

  .name{ grid-area: name;}
  .avatar{ grid-area: avatar;}
  .points{ grid-area: points;}
